# dependencies (bun install)
node_modules

# use pnpm
package-lock.json

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store

# git worktree
content
# build output
public/

# 本地插件在使用时编译
quartz-custom/**/dist

# 避免运行时产生的临时文件被包含到 patch 中
.quartz-cache
.quartz
